
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/mediApp.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
package.json
package.json
