<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Alta de usuarios</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/login.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


</head>

<ion-header>
  <ion-toolbar>
    <ion-title>prescribe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style=" width:100%;  class="container">

  <div class="row justify-content-between mb-3">


    <div class="login-form">
      <form action="altauser" method="post" class="needs-validation" novalidate>
        <div class="avatar"><i class="material-icons">&#xe84e;</i></div>
        <h2 class="text-center">Crear receta Medica</h2>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text"  class="form-control" id="nombre" placeholder="Nombre Paciente" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Nombre requerido</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
            <input type="text"  class="form-control" id="NSS" placeholder="Numero Seguro Social" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Numero seguro social requerido</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
            <input type="text"  class="form-control" id="edad" placeholder="Edad" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Edad Requerida.</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="hombre" name="sexo"><br>Hombre
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="mujer" name="sexo"><br>Mujer
              </label>
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Sexo requerido.</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-leaf"></i></span>
            <input type="text"  class="form-control" id="alergias" placeholder="Alergias" />

          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-resize-vertical"></i></span>
            <input type="text"  class="form-control" id="altura" placeholder="Altura" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Talla Requerida.</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-upload"></i></span>
            <input type="text"  class="form-control" id="peso" placeholder="Peso" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Peso Requerida.</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
            <input type="text"  class="form-control" id="imc" placeholder="IMC" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">IMC Requerida.</div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
            <input type="text"  class="form-control" id="presion" placeholder="Presion" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Presion Requerida.</div>
          </div>
        </div>


        <div class="form-group">
          <label for="comment">Diagnostico Medico:</label>
          <textarea class="form-control" rows="8" id="diagnostico" required></textarea>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Diagnostico Requerido.</div>
        </div>

        <s:submit  value="Crear Diagnostico" cssClass="btn btn-danger login-btn btn-block"> </s:submit>
      </form>
    </div>



  </div>
  </div>
  <script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</ion-content>
